body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

form{
    background-color: hsl(0, 0%, 100%);
    max-width: 350px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 26%, 0.308);
}

h1{
    color: hsl(240, 64%, 58%);
}

#textBox{
    text-align: center;
    font-size: 2em;
    width: 50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

label{
    font-weight: bold;
}

button{
    background-color: hsl(0, 100%, 60%);
    color: white;
    border: none;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

#result{
    font-weight: bold;
    font-size: 1.25em;
}