body{
    font-family: helvetica;
}

label{
    font-size: 5em;
    text-align: center;
    display: block;
    
}

#btnContainer{
    text-align: center;
}

.btn{
    background-color: rgb(98, 177, 252);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0,25;
    -webkit-transition: background-color 0,25;
    -moz-transition: background-color 0,25;
    -ms-transition: background-color 0,25;
    -o-transition: background-color 0,25;
    color: white;
}

.btn:hover{
    background-color: rgb(46, 46, 248);
}
