body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 0;
}

h1{
    color: hsl(0, 0%, 20%);
    font-size: 2rem;
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7rem;
    min-width: 160px;
    margin: 0 30px;
    border: none;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    text-align: center;
    cursor: pointer;
    background-color: hsl(190, 80%, 50%);
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.choices button:hover{
    background-color: hsl(190, 80%, 70%);
}

#playerDisplay, #computerDisplay{
    font-size: 2rem;
}

#resultDisplay{
    font-size: 3rem;
    margin: 30px 0;
}

.scoreDisplay{
    font-size: 1.5rem;
}

.greenText, #playerScoreDisplay{
    color: hsl(120, 100%, 70%);
}

.redText, #computerScoreDisplay{
    color: tomato;
}