body{
    background-color: hsl(0, 0%, 95%);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: 3rem;
    font-weight: bold;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    padding: 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#displayContainer{
    font-size: 3rem;
    margin: 1rem;
    color: rgb(129, 129, 129);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.808);
    font-weight: bold;
}

#buttonContainer button{
    font-size: 1.25rem;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    margin: 5px;
    min-width: 125px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(120, 100%, 65%);
}
#startBtn:hover{
    background-color: hsl(120, 99%, 40%);
}

#stopBtn{
    background-color: hsl(0, 100%, 60%);
}

#stopBtn:hover{
    background-color: hsl(0, 100%, 40%);
}

#resetBtn{
    background-color: hsl(240, 100%, 60%);
}

#resetBtn:hover{
    background-color: hsl(240, 100%, 40%);
}