body{
    text-align: center;
    font-family: verdana;
}

#rollBtn{
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.labels{
    font-size: 3em;
}